/* src/components/Header.css */
/* header {
    height: 10%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
  } */

  * {
    box-sizing: border-box;
  }

  @media screen and (max-width:480px){
  }

  .header {
    color:white;
    background-color: black;
    height:60px;   
  }

/*
   .headerLeft {
    margin-left:20px;
    font-size:18px;
   }


   .loginbutton {
    margin-left:650px;
    transform: translateY(-20px);
   }
   */
   
   .loginbutton {
    margin-left:650px;
    transform: translateY(-20px);
   }


   @media screen and (max-width: 768px) {
    .headerContents {
      display: flex;
    }
  
    .headerLeft {
      margin-bottom: 10px;
      text-align: center;
    }
  
    .sitename {
      font-size: 20px;
      text-align:left;
    }
  
    .explanation {
      font-size:11px;
    }

    .loginbutton {
      margin-left: auto;
      text-align: right;
      margin-top:20px;
      right:15px;
    }
  }


 