/* src/components/MainContent.css */
/* .main {
    top: 10%;
    margin-bottom: 10%;
    display: flex;
   z-index:1;
  }
  
  .kensaku {
    height: 10%;
    width: 50%;
    position: fixed;
    top: 10%;

    z-index: 1;
  } */
  
.maincontentBar {
  height: 70px;
  width:100%;
  padding-left: 40px;
  background: linear-gradient(-270deg, #F8CFFF 0%, #B6B4FF 40%, #B7FFF6 100% );
  display:flex;
  gap:0px 40px;
}

.toMylist p {
  font-weight:bold;
  margin-top:21px;
  font-size:22px;
  height: 50%;
}

.toSearch p {
  font-weight:bold;
  font-size:20px;
  height: 50%;
}

.toAdd  {
  font-weight:bold;
  font-size:20px;
  height: 50%;
}
@media screen and (max-width: 768px) {
  .toSearch p {
    margin-top:5px;
  }
  .toAdd p{
    margin-top: 5px;
  }
}

.toMylist.selected p,
.toSearch.selected p,
.toAdd.selected p {

  color:rgb(65, 65, 229);
}




  