

/* . { 
    top: 21%;
    position: fixed;
    display:flex;
    z-index: 1;
    
  } */
 
  .MyListAll {
    text-align: center;
  }
  
  .kirikae {  
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .toReading button {
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 48px;
    border-radius: 48px;
    margin-right: 24px;
    margin-left: 24px;
    margin-top:20px;
    border:1px solid black;
    color: black;
    background-color:white;
    outline: none; 
  }
  
  button:active {
    position: relative; 
    top:2px;  
    box-shadow: none; 
  }   
  
  
  
  
  .toWannaRead button {
    display: inline-block;
    font-size: 16px;
    width: 100px;
    height: 48px;
    border-radius: 48px;
    margin-right: 24px;
    margin-left: 24px;
    margin-top:20px;
    color: black;
    background-color: white;
    border:1px solid black;
    outline: none; 
  }
  
  button:active {
    position: relative; 
    top:2px;  
    box-shadow: none; 
  }   
  .toReading button.active,
  .toWannaRead button.active {
    color:white;
    background-color:black;
  }