<button onClick="create();">ユーザー作成</button>
<button onClick="auth();">ユーザー認証</button>

<script>
    function create() {
        location.href = '/create.ejs';
    }

    function auth() {
        location.href = '/auth.ejs';
    }
</script>