
h3{
    margin-top:5%;
    margin-left:20%;
}


.password-container {
    margin: 96px;
  }
  

  
  .password-form p.password-message-error {
    color: #ff4d75;
    margin-top: 8px;
    font-size:12px;
  }
  
  .password-form input{
    box-sizing: border-box;
    background-color: #fff;
    color: #8491a5;
    width: 40%;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #bac6d3;
    border-radius: 10px;
    display: block;
  }
  
  .password-form input[type=submit] {
    position:relative;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top:10%;
  }
  
  .password-form input[type=submit]:hover {
    background-color: rgb(255, 255, 255);
    color:black;
    border-width: 1px;
    border-radius: 10px;
    transition:0.5s;
    cursor: pointer;
  }
  form{
    margin-left:35%;
    margin-top:7%;
  }
  @media screen and (max-width: 768px) {
    .password-form input,
    .password-form input[type=submit] {
        width: 80%; /* 画面幅が768px以下の場合、入力フィールドとボタンの幅を広げる */
    }
    
    form {
        margin-left: 15%; /* 画面幅が768px以下の場合、フォームの左マージンを調整する */
        margin-top: 5%; /* 画面幅が768px以下の場合、フォームの上マージンを調整する */
    }
}

/*
.HomeLink {
  position:relative;
  display: inline-block;
  top:300px;;
  width:150px;
  height:60px;
  left:30%;
  padding: 15px 35px;
  background: linear-gradient(-270deg, #B7FFF6 0%, #B6B4FF 40%,  #B7FFF6 100% );
  color: black;
  text-decoration: none;
  border: none;
  border-radius: 4px;

}
*/




